.menu {
  list-style: none;
  padding: 0px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  text-align: center;
  font-family: 'Modak', cursive;
font-family: 'Montserrat Alternates', sans-serif;
}
.menu li {
  text-decoration: none;
  color: rgb(8, 8, 8);
  padding: 10px;
  display: inline-block;
  text-align: center;
}
.menu li:hover {
  background: rgb(198, 12, 12);
  color: white;
  background-size: contain;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px rgb(119, 28, 28);
  border-radius: 5px;
  
}
header{
  text-align: center;
  font-size:x-large;
  font-family: 'Modak', cursive;
  font-family: 'Montserrat Alternates', sans-serif;

}
header:hover{
  transform: scale(1.5);
  transition: all 0.5s linear;
  
}
.cabecera{
 background-color: white;
  color: black;
  margin: 0px;
  float:justify;
  margin-bottom: 60px;
  background-image: radial-gradient(white 20%, rgb(244, 12, 12) 30%, rgb(139, 18, 18) 50%);

}

.submenu{
  position: absolute;
  color: #000;
  display: none;

}
.submenu li{
  color:white;
}
.menu li:hover .submenu{
  /*display:table-column-group;*/
  display:grid;
  border-radius:8px;
  width:auto;
  height:auto;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, rgb(88, 10, 10) 0%, rgb(247, 83, 83) 50%,rgb(88, 10, 10) 100%);

  padding: 25px 25px;
}
input.caja{
  background: #fff url(img/icono-search.png) no-repeat 20px center;
  padding: 9px 10px 9px 80px;
    outline: none;
    border-radius: 10px;
    color: white;
    background-size: contain;
    width: 100px;
    transition: all .5s;
    height: 10px;
    margin-bottom: 7px;
  
  }
input.caja:hover{
  width: 300px;
  background: rgb(244, 12, 12);
  box-shadow: 5px 5px 5px 0px #051804;
}
.buscar{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.logo{
  background: url(img/logo.png) 10px;
  background-repeat: no-repeat;
  padding: 9px 10px 9px 10px;
  outline: none;
  background-size:contain;
}

body{
  margin: 0;
  
}
.img1{
  background-image: url(img/cdmd.jpg);
  width: 47%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}
.img2{
  background-image: url(./img/bt.jpg);
  width: 47%;
  height: 200px;

  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}
.imagen{
  display: flex;
  align-items:stretch;
  justify-content:space-evenly;
}
.banda{
  background-color: rgb(67, 66, 66);
  margin-left: 22px;
  margin-right: 22px;
  color: white;
  height: 50px;
  display: flex;
  margin-bottom: 10px;
  padding-left: 15px;
  font-family: 'Gentium Plus', serif;
  font-family: 'Source Code Pro', monospace;
}
.main {
  height: 1000px;
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
  text-align: center;
  padding: 10px;
}
.main img {
  width: 30%;
  float: left;
  border: solid;
  border: 12px solid rgb(255, 255, 255);
 
}
footer{
  height: 100px;
  background-color: #fff;
  background-image: linear-gradient(to right, rgb(120, 6, 6) 25%, white, red );

}
footer img{
  width: 50px;
  height: 60px;
  padding-left: 50px;
  padding-top: 15px;
}
footer input{
  float: right; 
  margin-top: 15px;
  margin-right: 30px;
  background: rgb(198, 12, 12);
  color: white;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(78, 6, 6);
  border-color: none;
  border-radius: 5px;
  font-family: 'Modak', cursive;
  font-family: 'Montserrat Alternates', sans-serif;

}
footer input:hover{
  transform: scale(1.5);
  transition: all 0.5s linear;
  text-transform:uppercase;
  color:rgb(14, 14, 18);
}
